<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo enviado</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; /* Cambiar color de fondo si lo deseas */
        }
        .message-container {
            max-width: 500px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .message-container h1 {
            margin-bottom: 20px;
        }
        .message-container p {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container mt-5 message-container">
        <h1 class="text-success">El correo fue enviado</h1>
        <p>Revisa tu casilla de mensajes, esto podria demorar unos minutos</p>
    </div>
</body>
</html>
