<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Success</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; /* Cambiar color de fondo si lo deseas */
        }
    </style>
</head>

<body class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
        <% if (error===0) { %>                    
            <h1 class="text-success">El producto fue actualizado correctamente</h1>
            <p>Ya puede ver su producto actualizado.</p>           
        <% } else { %>
            <h1 class="text-danger">Error al actualizar producto</h1>
            <p class="text-danger">Error: <%= error %></p>
        <% } %>
        
        <a href="/admin/productos" class="btn btn-dark">Administrar Productos</a>
    </div>
</body>
</html>
