<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Success</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; /* Cambiar color de fondo si lo deseas */
        }
    </style>
</head>
<body class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="text-success">Reset Password Success</h1>
        <p>Your password has been reset successfully. You can now login with your new password.</p>
        <a href="/login" class="btn btn-dark">Iniciar sesión</a>
    </div>
</body>
</html>
